<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="productOrder" type="SoftLayer.OrderConfig, SoftLayer" />
  </configSections>

  <productOrder>
    <!-- VPN CREDENTIALS 
        Only set serverId if deleting server -->
    <credentials username="michael.kerr.ddsba@ontario.ca"
                 apikey="48fcc1ae7559e319960f642355d8910fd1abff3f0bd66357d59e1c89d84c13b4" 
                 serverId=""
    />
    <!-- Only the first method set to true will be used -->
   <order price="false"
          create="true"
          delete="false"
    />
    <!-- Set relevant server parameters. 
       For more information on each parameter refer to documentation file -->
    <serverlist>
      <server number="1"
              virtual="true"
              domain="csc.gov.on.ca"
              hostname="app1"
              cpus="1"
              memory="1024"
              datacenterName="tor01"
              hourlyBilling="true"
              localDisk="false"
              operatingSystemCode="UBUNTU_LATEST_64"
              hardDriveSpace="25"
              privateNetworkOnly="true"
              frontendVlanId="1"
              backendVlanId="2">
      </server> 
    </serverlist>
  </productOrder>
</configuration>

