<?xml version="1.0" encoding="utf-8" ?>
<serverlist>
  <server number="1"
          virtual="true"
          domain=""
          hostname=""
          cpus="8"
          memory="16384"
          datacenterName="tor01"
          hourlyBilling=""
          localDisk="false"
          operatingSystemCode="UBUNTU_14_64"
          hardDriveSpace="500"
          privateNetworkOnly="true"
          frontendVlanId="1"
          backendVlanId="2">
  </server>
</serverlist>
