<?xml version='1.0'?>
<serverlist>
  <server number="1"
        virtual="true"
        domain="csc.gov.on.ca"
        hostname="app1"
        cpus="1"
        memory="1024"
        datacenterName="tor01"
        hourlyBilling="true"
        localDisk="false"
        operatingSystemCode="UBUNTU_LATEST_64"
        hardDriveSpace="25"
        privateNetworkOnly="true"
        frontendVlanId="1"
        backendVlanId="2">
  </server>
  <server number="1"
        virtual="true"
        domain="csc.gov.on.ca"
        hostname="web2"
        cpus="1"
        memory="1024"
        datacenterName="tor01"
        hourlyBilling="true"
        localDisk="false"
        operatingSystemCode="UBUNTU_LATEST_64"
        hardDriveSpace="25"
        privateNetworkOnly="true"
        frontendVlanId="1"
        backendVlanId="2">
  </server>
</serverlist>



