<?xml version='1.0'?>
<serverlist>
  <server number="1"
          virtual="true"
          domain="csc.gov.on.ca"
          hostname="redundantUAT"
          cpus="4"
          memory="8192"
          datacenterName="mon01"
          hourlyBilling="true"
          localDisk="false"
          operatingSystemCode="WIN_2012-STD_64"
          hardDriveSpace="100"
          privateNetworkOnly="true"
          frontendVlanId="1"
          backendVlanId="2">
  </server>
  </server>
  <server number="1"
        virtual="true"
        domain="csc.gov.on.ca"
        hostname="DbUAT"
        cpus="1"
        memory="1024"
        datacenterName="tor01"
        hourlyBilling="true"
        localDisk="false"
        operatingSystemCode="UBUNTU_LATEST_64"
        hardDriveSpace="25"
        privateNetworkOnly="true"
        frontendVlanId="1"
        backendVlanId="2">
  </server>
</serverlist>



